.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-left {
  font-weight: 800;
  font-size: 32px;

  @media only screen and (max-width: 600px) {
    font-size: 25px;
  }

  @media only screen and (max-width: 375px) {
    font-size: 15px;
  }
}

.badge-span {
  background-color: hsl(224, 21%, 14%);
  color: white;
  padding: 0px 5px;
  text-align: center;
  border-radius: 5px;

  @media only screen and (max-width: 600px) {
    font-size: 25px;
  }

  @media only screen and (max-width: 375px) {
    padding: 0px;
    font-size: 15px;
  }
}

.span-right {
  font-weight: 500;
  color: hsl(219, 12%, 42%);

  @media only screen and (max-width: 375px) {
    font-size: 15px;
  }
}
